*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style-type: none;
}
ul li{
    float: right;
}
li{
    margin: 15px;
}
li a i{
    color: black;
    font-size: 25px;
}
.sign{
    padding: 10px;
    color: black;
}
.sign:hover{
    text-decoration: underline;
}
.input{
    font-size: 18px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 200px;
}
.fa-microphone{
    font-size: 25px;
    padding: 8px;
    background-color:lavender;
    border-radius: 50%;
    margin-right: 215px;
}
.fa-magnifying-glass{
    font-size: 22px;
    padding: 7px 7px 13px;
    border: 1px solid black;
}
.fa-youtube{
    color: red;
    font-size: 40px;
    padding-right: 0;
}
.yt2 sup{
    color: black;
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
    padding: 5px;
    margin-right: 200px;
}
.fa-bars{
    padding: 5px;
}
.video-on{
    display: flex;
    margin: 50px;
}
iframe{
    width: 400px;
    height: 250px;
    margin: 10px;
}