*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;;
}
.sign{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 50px;
}
section header .first-header{
    font-size: 40px;
    font-weight: bold;
    color: tomato;
    font-family: tahoma;
    font-style: oblique;
}
section header .second-header{
    font-size: 20px;
    padding: 20px;
    background-color: tomato;
    border-radius: 10px;
    color: white;
}
section{
    width: 100%;
    height: 650px;
    background: cover;
    background: url('images/bg-netflix.jpg');
}
.head{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}
.center{
    text-align: center;
}
.text1{
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: default;
}
.text2{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    font-family: default;
}
.email{
    font-size: 16px;
    padding: 20px;
    padding-right: 350px;
}
.strong{
    margin-left: 0px;
    padding-left: 0px;
    color: white;
    font-size: 20px;
    padding: 20px;
    background-color: crimson;
}
.strong:hover{
    color: white;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: red;
}
.section2{
    width: 100%;
    border: 5px solid darkgray;
    height: 400px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}
.left{
    margin-top: 100px;
}
.strong2{
    color: white;
    margin-left: 100px;
    font-size: 40px;
}
.text3{
    color: white;
    font-size: 20px;
    margin-left: 100px;

}
.right img{
    width: 500px;
    height: 400px;
    margin-right: 150px;
}
.next-section{
    width: 100%;
    height: 400px;
    background: #000000;
    display: flex;
    justify-content: space-between;
}
.item1 img{
    width: 450px;
    height: 350px;
    margin-left: 100px;
}
.item2{
    margin-right: 100px;
    margin-top: 100px;
}
.strong3{
    font-size: 40px;
    color: white;
}
.text4{
    font-size: 20px;
    margin-right: 100px;
    color: white;
}
.after-section{
    width: 100%;
    height: 250px;
    background: #000000; 
    border: 5px solid darkgray;
}
.strong4{
    color: white;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 50px;
}
.text5{
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.after-section-box{
    width: 100%;
    height: 500px;
    background: #000000;
    display: flex;
    justify-content: space-between;
}
.image-kid img{
    width: 450px;
    height: 350px;
    margin-top: 50px;
    margin-left: 100px;   
}
.text6{
    margin-top: 150px;
    margin-right: 150px;
}
.heading{
    color: white;
    font-size: 50px;
}
.txt{
    color: white;
    font-size: 25px;
}
.next-section-box{
    /* text-align: center; */
    width: 100%;
    height: 850px;
    background: #000000;
    border: 5px solid darkgray;
}
.header-pro{
    margin-top: 50px;
    font-size: 50px;
    color: white;
    text-align: center;
}
.header-pro1{
    color: white;
    font-size: 30px;
    background-color: rgb(61, 58, 58);
    padding: 20px;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.between1{
    display: flex;
    justify-content: space-between;
}
.plus1{
    color: white;
    font-size: 40px;
    margin-left: 600px;
    cursor: pointer;
}
.plus2{
    color: white;
    font-size: 40px;
    margin-left: 406px;
    cursor: pointer;
}
.plus3{
    color: white;
    font-size: 40px;
    margin-left: 538px;
    cursor: pointer;
}
.plus4{
    color: white;
    font-size: 40px;
    margin-left: 578px;
    cursor: pointer;
}
.plus5{
    color: white;
    font-size: 40px;
    margin-left: 402px;
    cursor: pointer;
}
.plus6{
    color: white;
    font-size: 40px;
    margin-left: 478px;
    cursor: pointer;
}
.sub-text{
    display: none;
}
.header-pro1:hover .sub-text{
    display: block;
}
.new-box{
    width: 100%;
    height: 200px;
    background: #000000;
    text-align: center;
}
.last-box{
    width: 100%;
    height: 300px;
    background: #272020; 
    color: white; 
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}
.txt2{
    color: white;
    font-size: 20px;
}
.ones{
    margin-top: 50px;
    margin-left: 100px;
}
.twos{
    margin-top: 100px;
    margin-right: 100px;
    color: rgb(24, 241, 12);
}
.txt2:hover{
    text-decoration: underline;
}