.f{
    border-width: 4px;
    border-style: solid;
    
}
.a{
    background-color: teal;
    padding: 1%;
}
.b{
    background-color: teal;
    padding: 1%;
}
.c{
    background-color: teal;
    padding: 1%;
}
.d{
    background-color: teal;
    padding: 1%;
}
.e{
    background-color: teal;
    padding: 1%;
}